@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Poppins:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Serif+Display:ital@1&family=Poppins:ital,wght@1,700&family=Satisfy&display=swap');

/********* GENERAL STYLES  *******/

:root {
    --grey-color: rgb(175, 159, 159);
    --black-color: rgb(6, 6, 6);
    --white-color: rgb(255, 255, 255);
    --pink--color: rgb(160, 7, 114);
}
  
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--white-color);
    background-color:#000000;
    height: 100%;
}
  
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding: 5rem;
}

.bg{
    background-color: #000000;
}

/* .container{
    width:100%;
    height: 100%;
    margin: auto;
} */

/********* NAV STYLES  *******/

header{
    position: absolute;
    width: 100%;
}

.navbar-nav .nav-item .nav-link {
    transition: background 0.3s ease;
}

/* .nav-item:active {
    background: linear-gradient(to right, #d004c2, #3a99fe);
    -webkit-background-clip: text;
    color: transparent;
} */

.navbar-scrolled{
    background-color: #000000;
    color: #010e1d;
    height: 10%;
    padding: 5px 5px;
    z-index: 1000;
}

.navbar{
    transition: all 0.5s;
    padding: 20px 180px 10px 180px;
}

ul li a{
    font-size: 1.1rem;
    margin-right: 20px;
}
.title {
    font-size: 35px;
    font-family: 'Berkshire Swash', cursive;
    color: var(--pink--color);
	/* margin: 0 0 30px;
	color: #ffffff;
	line-height: 42px;
	display: inline-block;
	border-bottom: 2px solid #ffffff; */
    text-align: center;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: var(--pink--color);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 70px;
    
  }

/********* HOME PAGE STYLES  *******/
.allpages{
    width: 70%;
    margin: auto;
}
.logo{
    font-size: 2.2rem;
    margin-left: 20px;
    font-family: 'Berkshire Swash', cursive;
}

.name {
    color:rgb(160, 7, 114);
}

.img-fluid{
    width: 22vw;
    height: 50vh;
    margin-left: 60px;
    object-fit: fill;
    border-radius: 50%;
    border: #2f2f2f 2px solid;
}

.text-about p{
    width: 30vw;
    margin-top: 5px;
}


.home{
    margin-top:12%;
    margin-bottom: 8%;
}

.cv-btn{
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.1rem;
    width: 40%;
    border: var(--white-color) 2px solid;
    padding: 10px 5px 10px 5px;
    text-align: center;
}
.cv-btn:hover{
    color: var(--pink--color);
    text-decoration: none;
    border: var(--pink--color) 2px solid;
}


.text{
    color: var(--grey-color);
    font-size: 1.5rem;
    overflow: hidden;
}

.education {
    font-size: 2.5rem;
    font-family: 'DM Serif Display', serif;
    color: transparent;
    background-image: linear-gradient(to right, #7a1562, #ed0ec8, rgb(154, 3, 124));
    -webkit-background-clip: text;
    background-clip: text;
    animation: education 10s infinite linear;
}

/* Keyframes */
@keyframes education {
    0% {
        background-position: 0 1600px;
    }
    100% {
        background-position: 1600px 0;
    }
}

@keyframes animate__backInUp {
    0% {
      opacity: 0;
      transform: translateY(-25%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}


/********* ABOUT PAGE STYLES  *******/
.rounded{
    width: 20vw;
    height: 60vh;
}
.text-color{
    color: var(--grey-color);
}

.overflow-hidden{
    overflow: hidden;
}

.about p{
    font-size: 1rem;
    text-align: left;
    width: 45vw;
    margin-left: 30px;
}

.icon{
    color: var(--pink--color);
}



/********* SKILL PAGE STYLES  *******/

.img-skill{
    width: 6vw;
    height: 10vh;
    margin: 10px 10px;
}

.grid-item{
    box-shadow: rgb(38, 57, 77) 0px 5px 5px 2px;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.html{
    box-shadow: rgb(229, 72, 24) 0px 5px 5px 2px;
}

.css{
    box-shadow: rgb(56, 133, 215) 0px 5px 5px 2px;
}

.js{
    box-shadow: rgb(238, 190, 33) 0px 5px 5px 2px;
}

.python{
    box-shadow: rgb(37, 106, 123) 0px 5px 5px 2px;
}

.bootstrap{
    box-shadow: rgb(145, 33, 237) 0px 5px 5px 2px;
}

.django{
    box-shadow: rgb(27, 58, 41) 0px 5px 5px 2px;
}
.react{
    box-shadow: rgb(79, 152, 230) 0px 5px 5px 2px;
}

/********* PROJECTS PAGE STYLES  *******/

.card{
    background-color: #20153d;
    /* padding: 20px 20px 8px 20px; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
    /* border-radius: 60px 0 60px 0; */
    /* box-shadow: 0 0 2px #dadfd3; */
    width: 90%;

}
.card:hover{
    background: #171634;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 10px 0px;
}

.project-img{
    width: 18vw;
    height: 23vh;
    margin: 5px auto;
    display: block;
    /* border: #fefeff solid 4px; */
    border-radius: 5px;
    object-fit:fill;
    transition: transform .1s; 
}

.project-img:hover{
    transform: scale(1.1);
}

.icon-img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.project-text{
    text-align: justify;
    width:80%;
}


/********* CONTACT PAGE STYLES  *******/

#contact-form{
    width: 30vw;
    margin: auto;
}

.rounded-3{
    border-radius: 8px;
}

.center{
    margin: auto;
    display: block;
}

.contact-form-input{
    background-color: #000000;
}
.contact-btn{
    color: var(--white-color);
    font-size: 1.1rem;
    border: var(--white-color) 1px solid;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    width: 15vw;
    text-align: center;
}

.contact-btn:hover{
    color: var(--grey-color);
}

/********* FOOTER  *******/

footer{
    width: 100%;
}

.icon-footer{
    border: #ffffff 2px solid;
    padding: 20px;
    border-radius: 50%;
    margin: 15px;
    display: inline-block;
}

.footer-link:hover .icon-footer {
    transform: scale(1.1);
}


.footer-link:hover .icon-footer:hover {
    background-color: var(--black-color);
    border: var(--pink--color) 2px solid;
}

hr{
    background-color: var(--white-color);
    width:10vw;
    height: 2px;
}
.footer-text{
    width: 50vw;
}

/********* MEDIA SIZE  *******/

@media (max-width: 600px) {

    *{
        overflow-x: hidden;
    }
    html {
        scroll-padding: 5rem;
    }
    .home-flex{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .about-flex{
        flex-direction: column;
    }
    .data-flex{
        flex-direction: column;
    }

    .rounded{
        width: 80vw;
        height: 40vh;
        margin: auto;
        display: block;
    }
    .education{
        font-size: 2.5rem;
    }
    .text-about{
        width:100vw !important;
    }
    .header{
        margin-bottom: 10px;
    }
    .text-about p{
        width: 90vw;
        text-align: justify;
    
    }
    .about p{
        width: 85vw;
        display: block;
        margin: auto;
    }
    .navbar-scrolled{
        height: 11%;
    }
    .img-fluid{
        width: 55vw;
        height: 30vh;
        margin: 30px auto;
    }
    #contact-form{
        width: 80vw;
        margin: auto;
    }
    .img-skill{
        width: 26vw;
        height: 10vh;
    }
    .project-img{
        width: 70vw;
        height: 27vh;
        object-fit: fill;
    }
    .card{
        width: 80vw;
        padding: 20px 20px 8px 20px;
        margin: auto;
    }
    #nav.navbar {
        width: 100%;
        height: auto;
        padding: 0 !important;
    }
    #main-nav {
        background: linear-gradient(to right, #021123, rgb(24, 13, 28));
        width: 100%;
        overflow-y: auto;
    }
    #main-nav a {
        color: #ffffff;
        font-size: 1.2rem;
        margin-left: 5%;
    }

    #main-nav a:hover {
        color: #555; 
    }
    .Portfolio{
        width:100%;
    }
    .cv-btn{
        width: 70%;
    }
    .contact-btn{
        width: 80%;
    }
    .project-text{
        width: 100%;
    }
    .project-name{
        overflow: hidden;
    }
    .allpages{
        width: 100%;
    }
    .footer-text{
        width: 90%;
    }
}

@media (max-width: 768px) {
    
    #contact-form{
        width: 60vw;
        margin: auto;
    }
}



  



